@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Caveat+Brush');

body{
  max-width: 1000px;
  background-color: #ffc;
  margin: auto;
  padding: 5px;
  font-family: "Droid Sans", sans-serif;
}

p{
  text-align: center;
}

/*    title and picture:  */
.top{
  display: flex;
  padding: 8px;
  text-align: center;
  margin-bottom: 50px;
}

#profile-pic{
  flex: 2 0;
}

#profile-pic img{
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

#spacer{
  flex: 1;
}

#title {
  font-family: 'Caveat Brush', cursive;
  padding: 5px;
  margin-top: 50px;
  flex: 3;
}

#title h1{
  font-size: 55px;
  margin: 0px;
}

#title p {
  margin: 0px;
  font-size: 20px;
}

@media(max-width: 500px) {

  #profile-pic {
    margin-top: 20px;
  }

  .top{
    flex-direction: column;
  }

}


/*      links:    */
.links-box{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.links-box a{
  /*background-color: #FFe510;*/
  padding: 60px 20px;
  margin: 10px;
  color: #28f;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-position: center;
}

.links-box a:hover{
  box-shadow: 0px 0px 10px 10px #999;
  border-radius: 15px;
}

.links-box a span{
  background-color: #eef;
  padding: 3px;
  border-radius: 2px;
}

#matchgame{
  background-image: url("images/matchgame.jpg");
  background-size: 74%;
}

#invasion{
  background-image: url("images/invasion.jpg");
  background-size: 88%;
}
#resume{
  background-image: url("images/resume.jpg");
  background-size: 51%;
}