body{
  max-width: 900px;
  background-color: #ffc;
  margin: auto;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

h1{
  text-align: center;
  background-color: #18b84a;
  padding: 5px;
  border-radius: 20px;
}

p{
  text-align: center;
}

.links-box{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.links-box a{
  /*background-color: #FFe510;*/
  padding: 60px 20px;
  margin: 10px;
  color: #28f;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-position: center;
}

.links-box a:hover{
  box-shadow: 0px 0px 10px 10px #999;
  border-radius: 15px;
}

.links-box a span{
  background-color: #eef;
  border-radius: 2px;
}

#matchgame{
  background-image: url("images/matchgame.png");
  background-size: 74%;
}

#invasion{
  background-image: url("images/invasion.png");
  background-size: 91%;
}
#resume{
  background-image: url("images/resume.png");
  background-size: 51%;
}