@import "variables";

.about {
  background-color: $bg-dark;
}


#profile-pic{
  position: relative;
  float: right;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 7;

  img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
}

@media(min-width: 414px){
  #profile-pic{
    width: 165px;
    justify-content: flex-end;
  }
}
@media(min-width: 500px){
  #profile-pic {
    width: 215px;

    img {
      height: 200px;
      width: 200px;
    }
  }
}
@media(min-width: 1024px){
  #profile-pic {
    width: 265px;

    img {
      height: 250px;
      width: 250px;
    }
  }
}