.content {
  border-top: solid 1px;
  flex: 1;
  padding: 0px 20px 20px 20px;
}

.small{
  text-align: center;
  font-size: 12px;
}

/*    title and picture:  */
header {
  display: flex;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  margin-bottom: 10px;
}

#profile-pic{
  flex: 2 0;
  margin-top: 20px;

  img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
}

#spacer{
  flex: 1;
}

#title {
  font-family: 'Caveat Brush', cursive;
  padding: 5px;
  margin-top: 10px;
  flex: 3;

  h1{
    font-size: 55px;
    margin: 0px;
  }

  p {
    margin: 0px;
    font-size: 20px;
  }
}


/*      links:    */
#project-header {
    text-align: center;
    margin: 0px 50px;
    background-color: #555;
    padding: 5px;
    color: #d55;
    border-radius: 12px 12px 0px 0px;
  }

.projects {
  list-style: none;
  padding: 0;

    img {
      height: 140px;
      border-radius: 10px;
    }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.project {
    border-bottom: 1px solid #999;
    padding-bottom: 10px;


  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #img-wrapper{
    width: 250px;
  }
  ul {
    padding: 0px 20px;
    margin-top: 20px;
    list-style: none;

    h3{
      margin: 5px 0px;
    }

    p {
      margin: 10px 0px;
    }
  }
}

/*  footer:  */

footer {
  margin-top: 10px;
  background-color: #222;
  display: flex;
  justify-content: center;
  padding: 10px;

  a{
    color: #fff;
    flex: 0 1 200px;
    text-align: center;

    &:hover{
      color: #999;
    }
  }
}

.fa{
  font-size: 40px;
}

@media(min-width: 500px) {

  #profile-pic {
    margin-top: 0;
  }

  header{
    flex-direction: row;
    margin-bottom: 30px;
  }

  #title{
    margin-top: 30px;
    flex-basis: 250px;
  }
}

@media(min-width: 600px) {

  .project {

    div {
      flex-direction: row;
      align-items: flex-start;
    }

    ul h3 {
    margin: 5px 0px 5px 40px;
    text-align: left;
    }
  }
}
